<% if false %>
<form action="/users" method="post" accept-charset="UTF-8">
    <input type="text" name="user[username]">
    <input type="email" name="user[email]">
    <input type="password" name="user[password]">

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <!-- other inputs here -->
    <input type="submit" value="Submit This Form">
</form>
<% end %>

<%= form_for :user, url: '/users', method: :post do |form| %>
    <ul>
    <%= form.text_field :username, placeholder: "Your name here"%>
  </ul>
  <ul>
    <%= form.email_field :email, placeholder: "Your email here" %>
  </ul>
  <ul>
    <%= form.password_field :password, placeholder: "Enter a secure password (of at least 8 characters)" %>
  </ul>
  <ul>
    <%= form.submit "Create new user" %>
  </ul>
<% end %>


